.menu_review {
    width: 500px;
}

.ham_menu {
    height: 10px;
    position: absolute;
    z-index: 9;
}

.menuHeading {
    color: white;
    padding-top: 15px;
    width: 500px;
}

.menuDiv {
    padding-left: 0;
}


/* Position of menu */

.menu_review.menu-review--top-left {
    top: 30px;
    left: 83px;
}

.what {
    color: #1FE1E9;
}


/* This means when clicked */

.menu_review:after {
    position: absolute;
    margin-left: 35px;
    margin-top: 40px;
    content: " ";
    /* Background color when expand */
    background: black;
    z-index: -1;
    width: 0;
    height: 0;
    /* When you click the draging effect of only yellow container not the txt */
    -webkit-transition: all .5s cubic-bezier(0, 0, 0, 1);
    -moz-transition: all .5s cubic-bezier(0, 0, 0, 1);
    -ms-transition: all .5s cubic-bezier(0, 0, 0, 1);
    -o-transition: all .5s cubic-bezier(0, 0, 0, 1);
    transition: all .5s cubic-bezier(0, 0, 0, 1);
}

.menu_review.menu-review--top-left:after {
    border-radius: 100%;
    top: 0;
    left: 0;
}

.menu_review.in:after {
    top: -199px;
    left: -245px;
    width: 520px;
    height: 450px;
}

.menu_review.in {
    width: 40vh;
    height: 65vh;
}


/* 
body{
	background-color: black;
} */

.menu_review .menu__hamburger_ico_review {
    position: relative;
    display: inline-block;
    /* background: black; */
    color: #fff;
    height: 70px;
    width: 70px;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -ms-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
    cursor: pointer;
    z-index: 99;
}

.menu_review.menu-review--top-left .menu__hamburger_ico_review {
    float: left;
}

.menu_review .menu__hamburger_ico_review span {
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 40px;
    border-radius: 10px;
    background: #fff;
    /* Three white lines */
    -webkit-transition: all .25s cubic-bezier(0, 0, 1, 1);
    -moz-transition: all .25s cubic-bezier(0, 0, 1, 1);
    -ms-transition: all .25s cubic-bezier(0, 0, 1, 1);
    -o-transition: all .25s cubic-bezier(0, 0, 1, 1);
    transition: all .25s cubic-bezier(0, 0, 1, 1);
}

.menu_review.menu-review--top-left .menu__hamburger_ico_review span {
    left: 10px;
}

.menu_review .menu__hamburger_ico_review span:first-child {
    top: 20px;
}

.menu_review .menu__hamburger_ico_review span:nth-child(2) {
    top: 35px;
}

.menu_review .menu__hamburger_ico_review span:last-child {
    top: 50px;
}

.menu_review.menu-review--top-left .menu__hamburger_ico_review span:first-child {
    transform-origin: left;
}

.menu_review.menu-review--top-left .menu__hamburger_ico_review span:last-child {
    transform-origin: left;
}

.menu_review .menu__nav_list_review {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 170px;
    z-index: 1;
    -webkit-transform: translateY(-65%);
    -moz-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    -o-transform: translateY(-65%);
    transform: translateY(-65%);
}

.menu_review.menu-review--top-left .menu__nav_list_review {
    left: 12%;
    text-align: left;
}

.menu_review .menu__nav_list_review li a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: white;
    visibility: hidden;
    opacity: 0;
    text-decoration: none;
}

.menu_review.menu-review--top-left .menu__nav_list_review li a {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(2px);
}

.menu_review.in .menu__nav_list_review li a {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu_review.in .menu__nav_list_review li a:before {
    position: absolute;
    content: " ";
    width: 0;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    top: 50%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu_review.in .menu__nav_list_review li:nth-child(1) a {
    transition-delay: .15s;
}

.menu_review.in .menu__nav_list_review li:nth-child(2) a {
    transition-delay: .30s;
}

.menu_review.in .menu__nav_list_review li:nth-child(3) a {
    transition-delay: .45s;
}

.menu_review.in .menu__nav_list_review li:nth-child(4) a {
    transition-delay: .60s;
}

.menu_review.in .menu__nav_list_review li:nth-child(5) a {
    transition-delay: .75s;
}

.menu_review.in .menu__nav_list_review li:nth-child(6) a {
    transition-delay: .90s;
}

.menu_review.in .menu__nav_list_review li:nth-child(7) a {
    transition-delay: 1.05s;
}

.menu_review.in .menu__nav_list_review li:nth-child(8) a {
    transition-delay: 1.2s;
}

.menu_review.in .menu__nav_list_review li:nth-child(9) a {
    transition-delay: 1.35s;
}

.menu_review.in .menu__nav_list_review li:nth-child(10) a {
    transition-delay: 1.5s;
}