/* Slideshow container */

.slideshow-container {
    width: 100%;
    height: auto;
    background-size: 100% 100%;
    background-position: center;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background: transparent;
    border: 1.5px solid black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.dotClass {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.active {
    background-color: white;
}

.dot:hover {
    cursor: pointer;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 25s;
    animation-name: fade;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}